.post-list-item .Div.content {
  padding-top: 0;
  padding-bottom: 0;
}

.post-tags {
  margin-top: 1em;
  margin-bottom: 1.5rem;
}
.post-tags span {
  display: inline-block;
  background: #f1f8ff;
  box-shadow: none;
  text-transform: capitalize;
  font-size: .8em;
  padding: 0;
  margin: .6833em .5em 0 0;
}
.post-tags span a {
  display: block;
  background-color: #F1F8FF;
  padding: .75em 1em;
  color: #00a9ff;
  border-radius: .3rem;
  font-weight: 300;
  letter-spacing: .7px;
  opacity: .9;
}

.tags-hint {
  padding-top: 1em;
  padding-bottom: 0.5rem;
  border-top: 1px solid #e2e2e2;
}

.post-page p {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -.003em;
    margin: 0;
}

.post-page .share-block {
    background-color: #f1f8ff;
    margin-top: 3rem;
    padding: 1rem 1.5rem;
    border-radius: 10px
}

.post-page .share-block h4 {
    margin-bottom: 0;
    margin-right: .5rem;
    font-size: 1.5rem
}

.post-page .share-block p {
    font-size: 1rem
}

.post-page .share-block .ui.horizontal.list.share-menu {
    margin-top: 0
}

.post-page .share-block .ui.horizontal.list.share-menu .item {
    margin-left: 1rem!important
}

.post-page .share-block,.post-stat-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}


.post-stat-share .ui.basic.label {
    border: 0;
    font-size: 1.1em;
    font-weight: 400;
    padding: .4833em .633em;
    margin-right: .25em;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.post-stat-share .ui.basic.label:focus,.post-stat-share .ui.basic.label:hover {
    background-color: #f7f7f7
}

.post-stat-share .ui.basic.label .Icon {
    margin-right: 4px;
    font-size: 1.3em;
    vertical-align: -10%;
    width: 1.1em
}

.post-stat-share .like-container {
    position: relative;
    display: inline-block
}

.post-stat-share .ui.basic.label .like-container .Icon {
    margin: 0;
}

.post-stat-share .like-block,.post-stat-share .post-like-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.post-stat-share a {
  color: #333333;
}

.post-stat-share .post-like-label {
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: .55em!important;
    border-radius: 500px!important;
    border: 1px solid rgba(34,36,38,.15)!important
}

.post-stat-share .post-like-label.liked span {
  color: #f74160
}


.post-stat-share .post-like-label:active,.post-stat-share .post-like-label:focus,.post-stat-share .post-like-label:hover {
    border-radius: 500px!important;
    cursor: pointer
}

.post-stat-share .post-like-label:active i.icon,.post-stat-share .post-like-label:active span,.post-stat-share .post-like-label:focus i.icon,.post-stat-share .post-like-label:focus span,.post-stat-share .post-like-label:hover i.icon,.post-stat-share .post-like-label:hover span {
  color: #f74160!important
}

.post-stat-share .likers-count {
    font-weight: 700;
    font-size: 1.2em;
    margin-left: .5em
}

.user-info-item.Cell .Tappable.Cell__in {
  padding: 0 4px;
  margin-top: 1rem;
}

.pulse-ring {
  content: '';
  width: 2.45em;
  height: 2.45em;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  z-index: 1;
  border-radius: 50%;
  animation: pulse infinite 2s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 $danger;
  }
  30% {
    -webkit-box-shadow: 0 0 0 0 $danger;
  }
  50% {
    -webkit-box-shadow: 0 0 2px 4px rgba(246,92,118, 0.4);
  }
  90% {
    -webkit-box-shadow: 0 0 5px 10px rgba(246,92,118, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(246,92,118, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 $danger;
  }
  20% {
    -moz-box-shadow: 0 0 0 0 $danger;
    box-shadow: 0 0 0 0 $danger;
  }
  50% {
      -moz-box-shadow: 0 0 2px 4px rgba(246,92,118, 0.4);
      box-shadow: 0 0 2px 4px rgba(246,92,118, 0.4);
  }
  90% {
      -moz-box-shadow: 0 0 5px 10px rgba(246,92,118, 0);
      box-shadow: 0 0 5px 10px rgba(246,92,118, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(246,92,118, 0);
      box-shadow: 0 0 0 0 rgba(246,92,118, 0);
  }
}
